body {
  font-family: arial, sans-serif;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.726) 0%,
    rgb(197, 216, 245) 74.6%
  );
}

h1 {
  color: rgb(135, 135, 135);
  display: block;
  font-family: arial, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  text-align: left;
  margin-bottom: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  color: rgb(135, 135, 135);
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-align: left;
}

ul {
  margin: 0;
  padding: 0;
}

.weather-app {
  max-width: 600px;
  margin: 30px 0 auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  float: left;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
a {
  text-decoration: none;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  color: #000;
  opacity: 0.5;
}
.weather-forecast-temperatures-min {
  font-size: 13px;
  color: #000;
  opacity: 0.5;
}
.weather-forecast-temperatures {
  font-size: 13px;
}
